:root{
  --violet: hsl(257, 40%, 49%);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

body{
  background: var(--violet);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  padding: 2rem;
}

header{
  align-self: start;
}

.logo img{
  width: 50%;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.bg-img{
  position: absolute;
  top: 0;
  z-index: -1;
}

.hero-img img{
  width: 100%;
}

.hero-content{
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 1rem;
}

.hero-content h1{
  text-transform: capitalize;
}

.btn{
  padding: 1rem 2rem;
  width: 70%;
  border-radius: 1.75rem;
  align-self: center;
  color: var(--violet);
  background-color: #fff;
}

.social-links{
  width: 50%;
  display: flex;
  gap: 1.2rem;
}

.social-links img{
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 0.5rem;
}



